<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.0/backbone-min.js"></script>
		
		<script src="/js/backbone/models/hangmanModel.js"></script>
		<script src="/js/backbone/collections/hangmansCollection.js"></script>
		<script src="/js/backbone/views/hangmanView.js"></script>
		<script src="/js/backbone/views/hangmansListView.js"></script>
		<script src="/js/application.js" ></script>

	</head>
	<body>
		{{{body}}}
{{!-- 
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
  var socket = io();
     $('form').submit(function(){
       socket.emit('letter', $('input').val());
     $('input').val('');
       return false;
     });
      socket.on('letter', function(char){
     $('a div').append($('<p>').text(char));
     });
  </script>
 --}}
	</body>
</html>
